.intro {
  margin: 90px 148px 0;
}

.intro__title {
  max-width: 830px;
  font-size: 54px;
  line-height: 1.2;
  font-weight: 600;
}

.intro__text {
  font-size: 24px;
  line-height: 1.5;
  margin-top: 30px;
  font-weight: normal;
}

.intro__text_cite {
  max-width: 738px;
  line-height: 1.5;
}

.intro__text_author {
  max-width: 732px;
  text-align: end;
}

.intro__text_summary {
  max-width: 722px;
  font-size: 16px;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  .intro {
    margin: 90px 24px 0;
  }

  .intro__title {
    max-width: 707px;
    font-size: 45px;
    line-height: 1.2;
  }

  .intro__text_cite {
    max-width: 720px;
  }

  .intro__text_author {
    max-width: 720px;
  }

  .intro__text_summary {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    margin: 90px 16px 0;
  }
}
