.lead {
  margin: 90px 0 0;
  text-align: center;
  overflow: hidden;
}

.lead__title {
  max-width: 720px;
  font-size: 96px;
  font-weight: 800;
  line-height: 100px;
  margin: auto;
}

.lead__subtitle {
  max-width: 726px;
  font-size: 30px;
  line-height: 36px;
  margin: 35px auto 55px;
}

.lead__image {
  max-width: 984px;
  max-height: 615px;
}

@media screen and (max-width: 768px) {
  .lead {
    overflow: hidden;
  }

  .lead__title {
    max-width: 530px;
    font-size: 75px;
    line-height: 79px;
  }

  .lead__image {
    width: 100%;
  }
}
