.lead {
  margin-top: 90px;
  text-align: center;
}

.lead__title {
  max-width: 70%;
  font-size: 96px;
  line-height: 1.2;
  font-weight: bold;
  margin: auto;
}

.lead__subtitle {
  max-width: 80%;
  font-size: 30px;
  line-height: 1.5;
  font-weight: normal;
  margin: 35px auto 55px;
}

.lead__image {
  max-width: 100%;
  height: auto;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .lead__title {
    font-size: 75px;
    line-height: 1.2;
  }

  .lead__image {
    max-width: 100%;
    display: block;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    max-width: 80%;
    font-size: 40px;
  }

  .lead__subtitle {
    max-width: 100%;
    font-size: 16px;
  }

  .lead__image {
    max-width: 100%;
    display: block;
  }
}
