body {
  background-color: black;
}

.page {
  min-width: 1100px;
  max-width: 1280px;
  color: #fff;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .page {
    min-width: 640px;
    max-width: 768px;
  }
}
