body {
  background-color: black;
}

.page {
  min-width: 1100px;
  max-width: 1280px;
  color: #fff;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-weight: normal;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .page {
    min-width: 1024px;
    max-width: 1268px;
    overflow: hidden;
  }
}

@media screen and (max-width: 768px) {
  .page {
    min-width: 768px;
    max-width: 1024px;
    overflow: hidden;
  }
}

@media screen and (max-width: 544px) {
  .page {
    min-width: 544px;
    max-width: 768px;
    overflow: hidden;
  }
}

@media screen and (max-width: 320px) {
  .page {
    min-width: 320px;
    max-width: 544px;
    overflow: hidden;
  }
}
