.photo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 100px 50px;
}

.photo-grid__item {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .photo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 80px 20px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}
