.places {
  max-width: 80%;
  margin: 80px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 550px 1fr;
  gap: 30px;
}

.places__title {
  font-size: 72px;
  line-height: 1.2;
  font-weight: bold;
  margin: 0;
}

.places__website {
  align-self: flex-end;
}

.places__artist {
  font-size: 18px;
  line-height: 1.5;
  font-weight: normal;
  margin: 0;
}

.places__url-heading {
  text-decoration: none;
  color: #aaaaaa;
  font-size: 12px;
  line-height: 1.5;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.places__image {
  max-width: 480px;
  margin: 40px 0;
  box-shadow: 4px 4px 20px #000000;
}

.places__image:hover {
  opacity: 0.5;
}

.places__paragraph {
  font-size: 18px;
  line-height: 1.5;
  font-weight: normal;
  margin: 40px 0;
}

.places__paragraph_button {
  max-width: 289px;
  max-height: 48px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  background-image: linear-gradient(to right, #0278fe 0%, #003a7b 100%);
  color: #fff;
  border: 0;
  box-shadow: 4px 4px 20px #000000;
}

.places__paragraph_button:hover {
  background-image: linear-gradient(to right, #0278fe 0%, #003a7b 0%);
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 95%;
  }

  .places__image {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 95%;
    grid-template-rows: 80px 420px 1fr;
  }

  .places__title {
    font-size: 42px;
    line-height: 1.2;
    font-weight: bold;
  }

  .places__text {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
  }

  .places__image {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 425px) {
  .places {
    margin: 80px 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 80px 1fr;
  }

  .places__title {
    font-size: 32px;
    line-height: 1.2;
    font-weight: bold;
    align-content: center;
    margin: 0;
  }

  .places__paragraph {
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
    margin: 0;
  }

  .places__text {
    grid-column: auto;
    grid-row: auto;
  }

  .places_content {
    align-self: center;
  }

  .places__paragraph_button {
    padding: 10px;
  }

  .places__image {
    width: 100%;
    height: auto;
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .places {
    margin: 40px 20px;
    grid-template-columns: 1fr;
  }

  .places__title {
    font-size: 32px;
    line-height: 1.2;
    font-weight: bold;
    margin: 0;
  }

  .places__paragraph {
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
    margin: 0;
  }

  .places__image {
    width: 100%;
    height: auto;
  }
  .places__image {
    margin: 0;
  }

  .places__button {
    order: 1;
  }
}
