.places {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.places__title {
  font-size: 72px;
  line-height: 1.2;
  font-weight: bold;
  margin: 0;
}

.places_content {
  align-self: flex-end;
}

.places__website {
  font-size: 18px;
  line-height: 1.5;
  font-weight: normal;
  margin: 0;
}

.places__website_span {
  font-size: 12px;
  line-height: 1.2;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.places__image {
  max-width: 480px;
  margin: 40px 0;
  box-shadow: 4px 4px 20px #000000;
}

.places__paragraph {
  font-size: 18px;
  line-height: 1.5;
  font-weight: normal;
  margin: 40px 0;
}

.places__button {
  max-width: 289px;
  max-height: 48px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  padding: 10px;
  background-image: linear-gradient(to right, #0278fe 0%, #003a7b 100%);
  color: #fff;
  border: 0;
  box-shadow: 4px 4px 20px #000000;
}

.places_spacing {
  margin: 100px auto;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 95%;
  }

  .places__image {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 95%;
  }

  .places__title {
    font-size: 42px;
    line-height: 1.2;
    font-weight: bold;
  }

  .places__text {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
  }

  .places__image {
    width: 100%;
    height: auto;
    grid-column: 200px;
  }
}

@media screen and (max-width: 425px) {
  .places {
    margin: 40px 20px;
    grid-template-columns: 1fr;
  }

  .places__title {
    font-size: 32px;
    line-height: 1.2;
    font-weight: bold;
    margin: 0;
  }

  .places__paragraph {
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
    margin: 0;
  }

  .places__image {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .places__button {
    order: 1;
  }
}

@media screen and (max-width: 320px) {
  .places {
    margin: 40px 20px;
    grid-template-columns: 1fr;
  }

  .places__title {
    font-size: 32px;
    line-height: 1.2;
    font-weight: bold;
    margin: 0;
  }

  .places__paragraph {
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
    margin: 0;
  }

  .places__image {
    width: 100%;
    height: auto;
  }
  .places__image {
    margin: 0;
  }

  .places__button {
    order: 1;
  }
}
